# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Popular languages for data science
* List common libraries used by Data Scientists
* Data Science Tools
* Arithmetic Expression Evaluation
* Hours to Minutes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. BeautifulSoup
3. SciPy
4. Plotly

| Data Science Tools |||
|------|---------|------|
| Jupyter Notebooks |
| Apache Spark |
| TensorFlow |

# H3:Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
print(200//60,"hours",200%60,"mins")

3 hours 20 mins

# H2: Author
Sarthakbrata Halder